<div class="uk-card uk-card-body uk-card-small uk-card-default uk-border-rounded">
  <div class="uk-width-auto">
    <div class="uk-card uk-card-body uk-card-small uk-border-rounded">
      <p class="uk-margin-remove">{{message.username}}: {{message.content}}</p>
    </div>
  </div>
</div>
